@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/bulma/bulma";
@import "node_modules/bulma-tooltip/src/sass/index";
@import "node_modules/@gros/visualization-ui/res/index";

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto 0 auto;
}

#header {
    padding: .75rem;
    border-bottom: 1px solid #eee;
}

#loading-spinner {
    margin-top: 1.5rem;
}

.no-data {
    margin-top: 60px;
    padding: 5px;
    color: #aaa;
}

#projectFilter label {
    padding: .5em;
}
#projectFilter input {
    margin-right: .25rem;
}

#dataPicker {
    margin-right: 20px;
}

.tabs {
    overflow: visible;
}

#projectPicker ul {
    flex-wrap: wrap;
    width: 100%;
}

#projectFilter label {
    display: flex;
}

.file-change-header {
    position: sticky;
    top: 5px;
    margin-top: 10px;
    padding: 5px;
    background: #eee;
    border-radius: 3px;
}

.file-change-repo {
    font-weight: 600;
    cursor: pointer;
}
.file-change-repo:hover {
    color: #aaa;
}

.file-change-repo img {
    vertical-align: bottom;
    padding-left: 8px;
}

/*
 * Data option buttons
 */
.data-button {
    min-width: 50px;
    height: 100%;
    padding: .375rem .75rem;
    background: #fff;
    border: 1px solid #ddd;
    cursor: pointer;

    &:not(:first-child) { border-left: none; }
    &:first-child { border-radius: 3px 0 0 3px; }
    &:last-child { border-radius: 0 3px 3px 0; }
    &:only-child { border-radius: 3px; }

    &:not(:disabled):hover { background: #ccc; }

    &.active { background: #ddd; }
}

/*
 * SVG
 */

.icon {
    margin-left: .75rem;
}

.dragscroll {
    width: 100%;
    overflow: auto;
}

.year-heading {
    font-size: 1.3em;
}

.month-heading {
    text-anchor: middle;
    font-weight: 300;
    font-size: 0.8rem;
}

.weekday-heading {
    text-anchor: middle;
    font-weight: 300;
    font-size: 0.8rem;
}

.is-hidden {
    display: none;
}

#calendar .day-group {
    cursor: pointer;
}

.temperature-bar {
    filter: brightness(90%);
    stroke-dasharray: 0,20,40; /* don't show the rect stroke on the top */
}

/*
 * Tooltip
 */
#tooltip {
    position: absolute;
    background: #fff;
    border: 3px solid #e7e7e7;
    border-radius: 1rem;
    padding: .2rem 1rem;
    width: 15rem;
    line-height: 1.4rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -.65rem;
        width: 1rem;
        height: 1rem;
        background: #fff;
        border: 3px solid #e7e7e7;
        border-width: 3px 0 0 3px;
        transform: rotate(45deg);
        z-index: 1;
    }

    &.left::before {
        left: 1.65rem;
    }

    &.right::before {
        right: 1.65rem;
    }

    .commit {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .avatar {
        width: 5rem;
        height: 5rem;
        border-radius: .5rem;
        margin-right: 1rem;
        flex: 0 0 5rem;
    }

    .content {
        flex: 1 0 0;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: .9rem;
        color: #777;
    }

    dl {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    dt {
        float: left;
        padding-right: 1rem;
    }

    dd {
        font-weight: bold;
    }
}

.tooltip {
    &:not(:hover):not(.has-tooltip-active) {
        &::before, &::after {
            opacity: 0;
            visibility: hidden;
        }
    }
    &::before, &::after {
        transition: opacity .5s ease;
        opacity: 0;
        content: '';
        position: absolute;
    }
}
